body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

button {
    cursor: pointer;
}

.todo {
    height: 90vh;
    width: 90vw;
    min-width: 500px;
    border: 2px solid black;
    border-radius: 10px;
    display: flex;
    flex-direction: column;

}

header {
    padding: 1em;
    color: white;
    display: flex;
    justify-content: space-between;
    background-color: blue;
}

header button {
    width: 8%;
    font-size: 2em;
}

main {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    height: 100%;
    overflow: hidden;
}

.side-container {
    border-right: 2px solid red;
    grid-column-start: 1;
    padding: 1em;
}

.container {
    grid-column: 2/ span 3;
    padding: 1em;
    overflow: auto;
}

.container-title {
    display: flex;
    justify-content: center;
    font-size: xx-large;
    font-weight: 700;
    padding: 1em;
}

.card-container {
    display: grid;
    gap: 1em;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.card {
    height: 250px;
    width: 250px;
    border: 2px solid green;
}

.card>div {
    padding: 0.8em;
}


.card-title {
    display: flex;
    justify-content: space-between;
}

.card-title p {
    text-decoration: underline;
}

.card-title div {
    display: flex;
    gap: 0.7em;
}

.card-title button {
    width: 2em;
    height: 2em;
    border: none;
    border-radius: 5px;
}

.red {
    background-color: rgb(241, 121, 121);
}

.red:hover {
    background-color: red;
    color: white;
}

.icon {
    position: relative;
    height: 1.5em;

}


.blue {
    background-color: rgb(63, 134, 241);
}

.blue:hover {
    background-color: blue;
}

.high {
    color: red
}

.normal {
    color: rgb(63, 134, 241);
}

.low {
    color: rgb(126, 190, 73);
}

.new {
    width: 100%;
    height: 100%;
    border-radius: 0px;
    border: 0px;
    font-size: 15em;
    font-weight: 100;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hidden {
    display: none;
}

form {
    border: 2px solid black;
    padding: 1em;
    display: flex;
    flex-direction: column;
    gap: 1em;
    z-index: 1;
    position: absolute;
    border-radius: 10px;
}

.blurred {
    filter: blur(1.5em);
}